body {
  background-color: #fffdfb;
}

header {
  padding-top: 50px;
}

h2 {
  font-family: "Abril Fatface", cursive;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  text-align: center;
  font-size: small;
}

.align-right {
  float: right;
}
.weather-details {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.location-button {
  margin: 20px 0;
  background-color: #acc6aa;
  display: block;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #acc6aa;
  color: #f2f2f2;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}

.location-button:hover {
  opacity: 0.7;
}

.search-form {
  width: 200px;
}

.search-button {
  margin: 20px 0;
  border-radius: 3px;
}

.forecast {
  padding: 30px 0;
  text-align: center;
  margin: 0;
}

.day {
  padding: 10px;
  background-color: #f2f1e7;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.weather-app {
  max-width: 600px;
}

.temp {
  color: gray;
}

.unit {
  font-size: smaller;
}

.icon-right {
  float: right;
}
