body {
  background-color: #fffdfb;
}

header {
  padding-top: 50px;
}

h2 {
  font-family: "Abril Fatface", cursive;
}

h3 {
  float: left;
  font-family: "Abril Fatface", cursive;
}

h4 {
  padding-bottom: 10px;
  font-family: "Abril Fatface", cursive;
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  text-align: center;
  font-size: small;
}

.info {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.location-button {
  margin: 20px 0;
  background-color: #acc6aa;
  border-color: #acc6aa;
}

.search-form {
  width: 200px;
}

.search-button {
  margin: 20px 0;
  border-radius: 3px;
}

.forecast {
  padding: 50px 0;
  text-align: center;
  margin: 0;
}

.day {
  padding: 10px;
  background-color: #f2f1e7;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.weather-app {
  max-width: 600px;
}

.temp {
  color: gray;
}
